.video-container {
    position: relative;
    width: 100%; /* Плеер занимает всю ширину контейнера */
    max-width: 1280px; /* Ограничим максимальную ширину для больших экранов */
    height: auto; /* Высота будет рассчитываться пропорционально содержимому */
    margin: 0 auto; /* Центрируем контейнер */
    padding: 0; /* Убираем лишние отступы */
}

.video-container video {
    width: 100%; /* Плеер будет растягиваться на всю ширину контейнера */
    height: auto; /* Автоматическая высота, чтобы сохранять пропорции */
}

@media (max-width: 768px) {
    .video-container {
        max-width: 100%; /* На мобильных устройствах плеер занимает всю ширину */
        height: auto;
    }
}

