{% extends 'base.html' %}
{% block body %}
    <div class="main-content"
         style="background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.8)), url(/static/background.png);">
        <div id="home-slider" class="slider m-0 p-0">
            <div style="margin-top: 6rem; margin-bottom: 2.75rem;">
                <div class="container-fluid">
                    <div class="row justify-content-center">
                        <div class="col-sm-12 text-center">
                            <div class="video-container">
                                <iframe src="https://vk.com/video_ext.php?oid=-183035397&id={{ film['video_id'] }}&hd=3&autoplay=1"
                                        allow="autoplay; encrypted-media; fullscreen; picture-in-picture; screen-wake-lock;"
                                        frameborder="0" allowfullscreen></iframe>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}